.container {
  width: 738.33px;
  height: 390px;
  border-radius: 15px;
  opacity: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding: 0 27px 10px 27px;
  position: relative;
}

.altText {
  font-size: 1rem;
  margin-top: 1.35rem;
  margin-left: -0.5rem;
}

.expenseContainer {
  display: flex;
  gap: 10rem;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 0 0;
}

.section1 {
  display: flex;
  gap: 17px;
  align-items: center;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.expenseName {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #000000;
  word-break: break-all;
}

.date {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.79px;
  text-align: left;
  color: #9b9b9b;
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.expensePrice {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.79px;
  text-align: left;
  color: #f4bb4a;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.divider {
  border: 1px solid #9b9b9b;
  margin-top: 9px;
}

.btns {
  border: 0;
  outline: 0;
  cursor: pointer;
  background: #ffffff;
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pageNumber {
  padding: 0.5rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0px;
  background: #43967b;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.58px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 850px) {
  .container {
    width: 87.5vw;
  }
}

@media (max-width: 800px) {
  .container {
    height: 660px;
    width: 400px;
  }

  .expenseContainer {
    gap: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .expensePrice {
    margin-left: 0.25rem;
  }

  .section2 {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 508px) {
  .container {
    width: 78.5vw;
    height: 700px;
  }
}

@media (max-width: 310px) {
  .container {
    width: 290px;
  }
}
