.heading {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.299rem;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 400px) {
  .heading {
    font-size: 1.75rem;
  }
}
