:root {
  --background: #3b3b3b;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: var(--background);
  font-family: Ubuntu;
}

#root {
  padding: 20px;
}

* {
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media (max-width: 450px) {
  #root {
    padding: 12px;
  }
}

@media (max-width: 310px) {
  body {
    display: flex;
  }
}
